{% extends "base.html" %} {% load static %} 

{% block content %}
<div class="content-wrapper ">
  <section class="content">
    <div class="container-fluid">
      <div class="row ">
        <div class="col-md-8 ">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Add Bank</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form action="{% url 'add-bank' %}" method="POST">
              {% csrf_token %}
              <div class="card-body">
                <div class="form-group">
                  <label for="{{ form.bank_name.id_for_label }}">Bank Name</label>
                    {{form.bank_name}}
                </div>
                <div class="form-group">
                  <label for="{{ form.bank_name.id_for_label }}" >BANK KEY</label>
                  {{form.bank_key}}
                </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Add</button>
                <a href="{% url 'banks-page' %}" class="btn btn-secondary">Cancel</a>
              </div>
            </form>
          </div>
          <!-- /.card -->

          <!-- general form elements -->
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}
