{% extends "base.html" %} {% load static %} {% block content %}
<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Make Schedule</h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="card card-default border-top border-info">
        <div class="card-header">
          {% if form.errors %}
          <div class="container alert alert-danger alert-dismissible" role="alert">
            <strong>Error!</strong> Please correct the following errors:
                  <ul>
                  {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                      <li> {{ error }}</li>
                    {% endfor %}
                  {% endfor %}
                </ul>

            <button type="button" class="close text-white" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% else %} 
          <h3 class="card-title">Make Scheule</h3>
          {% endif %}
        </div>
        <div class="card-body">
          <form  method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="{{ form.schedul_name.id_for_label }}">Schedule Name</label>
                    {{form1.schedul_name}}
                </div>
              </div>
            <div class="col-md-6">
                  <div class="form-group">
                      <label for="{{ form1.scheduled_by.id_for_label }}">Scheduled by</label>
                      <input type="text" id="{{ form1.scheduled_by.id_for_label }}"
                            name="{{ form1.scheduled_by.name}}" value="{{ user.first_name }} {{ user.last_name }}"
                            class="form-control" readonly>
                  </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="{{ form.terminals.id_for_label }}">Select Terminals</label>
                    {{form.terminals}}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="{{ form.start_date.id_for_label }}">Start Date</label>
                    {{form.start_date}}
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <label for="{{ form.description.id_for_label }}">Description</label>
                    {{form1.description}}
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary swalDefaultSuccess">Create Schedule</button>
            <a href="{% url 'schedules' %}" class="btn btn-secondary">Cancel</a>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
 {% endblock content %}
