{% extends "base.html" %} {% load static %} {% block content %}

{% if submitted %}
<div class="alert alert-success" role="alert" style="margin:0 20%; padding-left: 20%;">
  The new Bank added successfully.
  <a href="{% url 'home' %}" class="alert-link">Go to Home Page.</a>
</div>

{% else %}
<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Make Schedule</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url "home" %}">Home</a></li>
            <li class="breadcrumb-item active">Make Schedule</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">Make Scheule</h3>
        </div>
        <div class="card-body">
          <form action="{% url 'make-schedule' %}" method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Bank Name</label>
                  <select class="form-control select2" style="width: 100%;" name="bank_name">
                    <option selected="selected">---</option>
                    {% for bank in banks %}
                    <option>{{bank.bank_name}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Terminal Name</label>
                  <select class="form-control select2" style="width: 100%;" name="terminal_name">
                    <option selected="selected">---</option>
                    {% for terminal in terminals %}
                    <option>{{terminal.terminal_name}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <!--TODO: Fix the Date-->
                  <label>Start Date:</label>
                  <div class="input-group date" id="reservationdatetime" data-target-input="nearest">
                    <input type="datetime-local" name="start_date" class="form-control datetimepicker-input"
                      data-target="#reservationdatetime" />
                    <div class="input-group-append" data-target="#reservationdatetime" data-toggle="datetimepicker">

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>End Date:</label>
                  <div class="input-group date" id="reservationdatetime" data-target-input="nearest">
                    <input type="datetime-local" name="end_date" class="form-control datetimepicker-input"
                      data-target="#reservationdatetime" />
                    <div class="input-group-append" data-target="#reservationdatetime" data-toggle="datetimepicker">

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Assigned To</label>
                  <select class="form-control select2" name="assign_to" style="width: 100%;">
                    <option selected="selected">---</option>
                    {% for user in users %}
                    <option>{{user.first_name}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Status</label>
                  <select class="form-control select2" name="status" style="width: 100%;">
                    <option selected="selected">---</option>
                    {% for schedule in schedules %}
                    <option>{{schedule.status}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-sm-10">
                <div class="form-group">
                  <label>Description</label>
                  <textarea class="form-control" name="description" rows="3" placeholder="Description ..."></textarea>
                </div>
              </div>

            </div>
            <button type="submit" class="btn btn-primary">Add</button>
            <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
          </form>
        </div>
      </div>


    </div>
  </section>
</div>

<!--New Form-->

{% endif %} {% endblock content %}