{% extends "base.html" %} {% load static %} {% block content %}

{% if submitted %}
<div class="alert alert-success" role="alert" style="margin:0 20%; padding-left: 20%;">
  The new Schedule added successfully.
  <a href="{% url 'home' %}" class="alert-link">Go to Home Page.</a>
</div>

{% else %}
<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Make Schedule</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url "home" %}">Home</a></li>
            <li class="breadcrumb-item active">Make Schedule</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">Make Scheule</h3>
        </div>
        <div class="card-body">
          <form action="{% url 'create_schedule' %}" method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="{{ form.name.id_for_label }}">Bank Name</label>
                    {{form.bank_name}}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="{{ form.terminal_name.id_for_label }}">Terminal Name</label>
                    {{form.terminal_name}}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="{{ form.start_date.id_for_label }}">Start Date</label>
                    {{form.start_date}}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="{{ form.end_date.id_for_label }}">End Date</label>
                    {{form.end_date}}
                </div>
              </div>

              <div class="col-sm-12">
                <div class="form-group">
                  <label for="{{ form.description.id_for_label }}">Description</label>
                    {{form.description}}
                </div>
              </div>

            </div>
            <button type="submit" class="btn btn-primary">Add</button>
            <a href="{% url 'schedules' %}" class="btn btn-secondary">Cancel</a>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
{% endif %} {% endblock content %}