{% extends "base.html" %} {% load static %} {% block content %}
<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Terminal Information</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url "home" %}">Home</a></li>
            <li class="breadcrumb-item active">Add Terminal</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="card card-default border-top border-info">
        <div class="card-header">
          <h3 class="card-title">Add Terminal</h3>
        </div>
        <div class="card-body">
          <form action="{% url 'add-terminal' %}" method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="{{ form.bank_name.id_for_label }}">Bank Name</label>
                    {{form.bank_name}}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="{{ form.bank_district.id_for_label }}">Bank District</label>
                    {{form.bank_district}}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="{{ form.bank_branch.id_for_label }}">Bank Branch</label>
                    {{form.bank_branch}}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="{{ form.moti_district.id_for_label }}">Moti District</label>
                    {{form.moti_district}}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="{{ form.tid.id_for_label }}">Terminal ID</label>
                    {{form.tid}}
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label for="{{ form.terminal_name.id_for_label }}">Terminal Name</label>
                    {{form.terminal_name}}
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="{{ form.serial_number.id_for_label }}">Serial Number</label>
                    {{form.serial_number}}
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="{{ form.model.id_for_label }}">Terminal Model</label>
                    {{form.model}}
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="{{ form.disspenser_type.id_for_label }}">Disspenser Type</label>
                    {{form.disspenser_type}}
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="{{ form.city.id_for_label }}">City</label>
                    {{form.city}}
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="{{ form.location.id_for_label }}">Location</label>
                    {{form.location}}
                </div>
              </div>

            </div>
            <button type="submit" class="btn btn-primary">Add</button>
            <a href="{% url 'all-terminals' %}" class="btn btn-secondary">Cancel</a>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}

