{% extends "base.html" %} {% load static %} {% block content %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class='text-center'>{% if selected %}List Of <span class="text-success">{{selected}}</span>{% endif %}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url "home" %}">Home</a></li>
            <li class="breadcrumb-item active">Banks</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <section class="content " >
    <div class="container-fluid " >
      <div class="row">
        <div class="col-12">
          <div class="card border-top border-success">
            <div class="card-header">
             <form action="" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-8">
                      <div class="form-group">
                        <label>Filter Banks Form the Dropdown</label>
                        <select class="form-control" name ="options">
                          <option value ="0"selected >-----Select-----</option>
                          <option value ="All Banks" >All Banks</option>
                          <option value ="Active Banks" >Active Banks</option>
                          <option value ="InActive Banks" >InActive Banks</option>  
                        </select>
                      </div>
                    </div>
                <hr>
                <div class="form-group col-sm-12" id="data_5">
                  <label class="font-normalll">Select Time Range</label>
                  <div class="input-group date col-sm-8" id="datepicker">
                    <span class="input-group-text">
                    From</span>
                    <input type="date" class="form-control" name="txt_startdate">
                    <span class="input-group-text">To</span>
                    <input type="date" class="form-control" name="txt_enddate">
                  </div>
                </div>
                <button type="submit" class="btn btn-info">Generate</button>
               </form>
            </div>
                  
               
            
            <!-- /.card-header -->
          {% if selected %}
            <div class="card-body">
              <table id = "example1" class="table table-bordered table-striped table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>BANK NAME</th>
                    <th>Bank Key</th>
                    <th>STATUS</th>
                  </tr>
                </thead>
                <tbody>
                  {% for bank  in banks %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{bank.bank_name}}</td>
                    <td>{{bank.bank_key}}</td>
                    <td>{% if bank.is_active %}
                        <span class="badge badge-success" style="width: 90px"
                          ><b>Active</b></span
                        >
                      {% else %}
                        <span class="badge badge-danger" style="width: 90px"
                          ><b>InActive</b></span
                        >
                        {% endif %}</td>
                        </td>
                    
                  </tr>
                  {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <th>NO</th>
                    <th>BANK NAME</th>
                    <th>BANK Key</th>
                    <th>STATUS</th>
                  
                  </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
            {% else %}
            <div class="card-body">
              <hr>
              <p class= "text-center">Data Will be shown Here!!</p>
            </div>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}

