{% extends "base.html" %} {% load static %} {% block content %}
<div class="content-wrapper">
  <!-- Content Header (Page header)
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <p class='text-center'>{% if selected %}List Of <span class="text-success">{{selected}}</span>{% endif %}</p>
        </div>
      </div>
    </div>
  </section>-->
  <section class="content " >
    <div class="container-fluid " >
      <div class="row">
        <div class="col-12">
          <div class="card border-top border-info">
            <div class="card-header">List of Banks</div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id = "example1" class="table table-bordered table-striped table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>BANK NAME</th>
                    <th>Bank Key</th>
                    <th>STATUS</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for bank  in banks %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{bank.bank_name}}</td>
                    <td>{{bank.bank_key}}</td>
                    <td>{% if bank.is_active %}
                        <span class="badge badge-success" style="width: 90px"
                          ><b>Active</b></span
                        >
                      {% else %}
                        <span class="badge badge-danger" style="width: 90px"
                          ><b>InActive</b></span
                        >
                        {% endif %}</td>
                        </td>
                      <td><a href="{% url "schedules-report" bank.id %}" class='btn-lg badge badge-light' title="Go to Details">
                        <span  class="btn btn-info">
                            <i class="far fa-calendar-alt"></i><span class="badge badge-light">{{bank.id}}</span>
                            <span class="sr-only">Total Schedules </span>
                      </span>
                      </a></td> 
                      {% comment %} <td><a href="{% url "schedules-report" bank.id %}" class='btn-lg badge badge-light' title="Go to Details"><i class="fas fa-arrow-circle-right"> 4</i></a></td>  {% endcomment %}
                    
                  </tr>
                  {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <th>NO</th>
                    <th>BANK NAME</th>
                    <th>BANK Key</th>
                    <th>STATUS</th>
                    <th></th>
                  
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}

