{% extends "base.html" %} {% load static %} {% block content %}
<div class="page-wrapper">
  <div class="page-container">
    <div class="main-content">
      <div class="section__content section__content--p30">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <!-- DATA TABLE -->
              <h3 class="title-5 m-b-35">List of Banks</h3>
              <div class="table-data__tool">
                <div class="table-data__tool-left">
                  <div class="rs-select2--light rs-select2--md">
                    <select class="js-select2" name="property">
                      <option selected="selected">All Properties</option>
                      <option value="">Option 1</option>
                      <option value="">Option 2</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                  </div>
                  <div class="rs-select2--light rs-select2--sm">
                    <select class="js-select2" name="time">
                      <option selected="selected">Today</option>
                      <option value="">3 Days</option>
                      <option value="">1 Week</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                  </div>
                  <button class="au-btn-filter">
                    <i class="zmdi zmdi-filter-list"></i>filters
                  </button>
                </div>
                <div class="table-data__tool-right">
                  <a
                    class="au-btn au-btn-icon au-btn--green au-btn--small"
                    href="{% url 'add-bank' %}"
                  >
                    <i class="zmdi zmdi-plus"></i>Add Bank
                  </a>
                  <div
                    class="rs-select2--dark rs-select2--sm rs-select2--dark2"
                  >
                    <select class="js-select2" name="type">
                      <option selected="selected">Export</option>
                      <option value="">Option 1</option>
                      <option value="">Option 2</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                  </div>
                </div>
              </div>
              <div class="table-responsive table-responsive-data2">
                <table class="table table-data2">
                  <thead>
                    <tr>
                      <th>NO</th>
                      <th>Bank</th>
                      <th>Bank Key</th>
                      <th class="text text-right">ACTIONS</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for bank in banks %}
                    <tr class="tr-shadow">
                      <td>{{bank.id}}</td>
                      <td>{{bank.bank_name}}</td>
                      <td>{{bank.bank_key}}</td>

                      <td>
                        <div class="table-data-feature">
                          <a
                            class="item"
                            data-toggle="modal"
                            data-placement="top"
                            title="View"
                            type="button"
                            data-backdrop="static"
                            data-keyboard="false"
                            href="{% url 'bank-detail' bank.id %}"
                            data-bs-toggle="modal"
                            data-bs-target="#myModal{{bank.id}}"
                          >
                            <i class="zmdi zmdi-eye text-info"></i>
                          </a>

                          {% comment %} modal componet {% endcomment %}
                          <div
                            class="modal mb-3"
                            id="myModal{{bank.id}}"
                            tabindex="-1"
                            aria-labelledby="{{bank.id}}"
                            aria-hidden="true"
                          >
                            <div class="modal-dialog mt-5 pt-5" role="document" >
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="{{bank.id}}">Bank Information</h5>
                                  <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                                  >
                                    <span aria-hidden="true"></span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <ul class="list-unstyled">
                                    <li>
                                      Bank Name:
                                      <strong>{{ bank.bank_name }}</strong>
                                    </li>
                                    <li>
                                      Bank Key:
                                      <strong>{{bank.bank_key}}</strong>
                                    </li>
                                  </ul>
                                </div>
                                <div class="modal-footer">
                                  <button
                                    type="button"
                                    class="btn btn-primary"
                                    data-bs-dismiss="modal"
                                    data-dismiss="modal"
                                  >
                                    Close
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>

                          <a
                            class="item"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Edit"
                            href ="{% url "update-bank" bank.id %}"
                          >
                            <i class="zmdi zmdi-edit text-primary"></i>
                          </a>
                        </div>
                      </td>
                    </tr>
                    <tr class="spacer"></tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- END DATA TABLE -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--TODO : make it the modal closable -->
<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
  integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
  integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
  crossorigin="anonymous"
></script>
{% endblock content %}
