{% extends "base.html" %} {% load static %} {% block content %}
<div class="content-wrapper">
  <section class="content">
    <div class="card">
      <div class="row">
        <div class="col-md-12">
          <h4 class="text-center">Compeleted Percentage by District | CBE</h4>
        </div>
        <div class="col-md-12">
          <div class="card-body">
            <div>
              <canvas id="districtChart" width="400"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      var ctx = document.getElementById('districtChart').getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: [{% for district in districts %}"{{ district.district_name }}", {% endfor %}],
              datasets: [{
                  label: 'Compeleted | CBE',
                  data: {{ district_approval_percentages|safe }},
                  backgroundColor: 'rgba(54, 162, 235, 0.2)',
                  borderColor: 'rgba(54, 162, 235, 1)',
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          min: 0,
                          max: 100,
                          stepSize: 10,
                          callback: function(value) {
                              return value + '%'; // Add percentage symbol
                          }
                      },
                      afterBuildTicks: function(scale) {
                          scale.ticks.push(70); // Add the 70% mark


                        }
                  }]
              },
              annotation: {
                  drawTime: 'afterDatasetsDraw',
                  annotations: [{
                      type: 'line',
                      mode: 'horizontal',
                      scaleID: 'y-axis-0',
                      value: 70,
                      color: 'red', // Set the color to red
                      borderColor: 'red', // Set the border color to red
                      borderWidth: 10, // Set the border width to make it bold
                      label: {
                          content: 'Target 70%',
                          enabled: true,
                          position: 'right'
                      }
                  }]
              }
          }
      });
  });
</script>

{% endblock %}
