{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="content-wrapper">
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <form action="" method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="col-12">
                <h3 class="card-title py-4">CBE Bank Report</h3>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Filter by timeframe</label>
                  <select class="form-control" name="options">
                    <option value="0">-----Select-----</option>
                    <option value="Weekly">Weekly</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Quarterly">Quarterly</option>
                    <option value="Half Year">Half Year</option>
                    <option value="Yearly">Yearly</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <button type="submit" class="btn btn-primary">Filter</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-12">
          <div>
            <canvas id="cbeChart" style="height: 300px"></canvas> 
            
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


{% endblock content %}
