{% extends "base.html" %} {% load static %} {% block content %} 

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>List of Terminals</h1>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card border-top border-info">
            <div class="card-header">
              <a href="{% url "schedules" %}" class="btn btn-md btn-info">Back</a>
              <a  class="btn btn-secondary btn-md float-right" data-toggle="modal" data-target="#analysis"
                        >
                    📈Analysis Summary
                </a>
            </div>
            <div class="card-body">
            
            <div class="modal fade" id="analysis">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Aanalysis:Short Summary 📊📊</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                      <div class="modal-body">
                          <div class="row">
                            <div class="col-md-12">
                              <p>TOTAL: <strong><span class="h5"> {{specific_schedule_count}}</span></strong> </p>
                              <hr>
                            </div>
                            <div class="col-md-6">
                              <p>Pending Schedule Rate: <strong><span class="h5" style="color: #cf5438 ;"> {{pending_rate}}%</span></strong> </p>
                              <hr>
                            </div>
                            <div class="col-md-6">
                              <p>Waiting Task Rate: <strong><span class="text-info h5" style="color: #3498db ;">{{waiting_rate}} %</span></strong> </p>
                              <hr>
                            </div>
                            <div class="col-md-6">
                              <p>Onprogress Task Rate: <strong><span class=" h5" style="color: #FFD700 ;">{{onprogress_rate}} %</span> </strong> </p>
                              <hr>
                            </div>
                            <div class="col-md-6">
                              <p>Submitted Task Rate: <strong><span class="h5" style="color: #81e7ac">{{submitted_rate}} %</span> </strong> </p>
                              <hr>
                            </div>
                            <div class="col-md-6">
                              <p>Rejectd Task Rate: <strong><span class="h5" style ="color: #FF0000">{{rejected_rate}} %</span> </strong> </p>
                              <hr>
                            </div>
                            <div class="col-md-6">
                              <p>Approved Task Rate: <strong><span class=" h5" style ="color: #00a65a ;">{{approved_rate}} %</span> </strong> </p>
                              <hr>
                            </div>
                            <div class="col-md-12">
                              <p class="text-center">Engineers Needed: <strong><span class="h5">{{engineer_nedded}} </span> </strong> </p>
              
                            </div>
                          </div>
                        </div>
                    <div class="modal-footer justify-content-between">
                      <button type="button text-center" class="btn btn-default m-4" data-dismiss="modal">Close</button>

                    </div>
                  </div>
                  <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>
              <!-- /.modal -->
              <table id="example2" class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>TID</th>
                    <th>BANK NAME</th>
                    <th>TERMINAL NAME</th>
                    <th>DISTRICT</th>
                    <th>END DATE</th>
                    <th>ASSIGNED TO</th>
                    <th>REMAINING DAY</th>
                    <th>STATUS</th>
                    <th>ACTIONS</th>
                  </tr>
                </thead>
                <tbody>
                  {% for schedule  in schedules %}
                  {% if schedule.terminal.bank_name.is_active %}
                <tr data-widget="expandable-table" aria-expanded="false">
                <td>{{forloop.counter}}</td>
                    <td>{{schedule.terminal.tid}}</td>
                    <td>{{schedule.terminal.bank_name}}</td>
                    <td>{{schedule.terminal.terminal_name}}</td>
                    <td>{{schedule.terminal.district}}</td>
                    <td>{{schedule.end_date|date:'Y-m-d'}}</td>
                    <td>{% if schedule.assign_to %}
                        {{schedule.assign_to.first_name}} {{schedule.assign_to.last_name}}
                        {% else %}
                        <b>Not Assigned Yet</b>
                      {% endif %}
                    </td>
                    <td>
                      {% if schedule.remaining_days < 3%}
                        {% if schedule.remaining_days < 0 %}
                        <span class="badge badge-danger" style="width: 90px"><b>OVER</b></span>
                        {% else %}
                        <span class="badge badge-danger" style="width: 90px"><b>{{schedule.remaining_days}} Days</b></span>
                        {% endif %}
                      {% else %}
                        {{schedule.remaining_days}} Days
                      {% endif %}
                    </td>
                    <td>
                      {% if schedule.status == "PE" %}
                          <span class="badge " style="width: 90px; background-color: #cf5438 ;"
                          ><b>Pending</b></span>
                          {% elif schedule.status == "WT" %}
                          <span class="badge " style="width: 90px; background-color: #3498db ;"
                          ><b>Waiting</b></span>
                        {% elif schedule.status == "OP" %}
                        <span class="badge " style="width: 90px;background-color: #FFD700 ;"
                          ><b>Onprogress</b></span>
                        
                          {% elif schedule.status == "SB" %}
                          <span class="badge " style="width: 90px; background-color: #81e7ac ;"
                          >
                          <b>Submitted</b></span>
                          {% elif schedule.status == "AP" %}
                          <span class="badge " style="width: 90px; background-color: #00a65a ;"
                          >
                          <b>Approved</b></span>
                          {% elif schedule.status == "RE" %}
                          <span class="badge" style="width: 90px; background-color: #FF0000 ;"
                          >
                          <b>Rejectd</b></span>
                          <p>{{schedule.approval_comment}}</p>
                      {% endif %}
                    </td>
                    <td>
                          {% if schedule.status == "PE" %}
                            {% if user.assign_engineer %}
                              <a href=" {% url "assign-engineer" schedule.id %}"
                                      style="width: 90px"
                                      class="btn btn-block btn-outline-success"
                                      >Assign</a>
                                  {% comment %} <div class="input-group-prepend">
                                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                                      Action
                                    </button>
                                    <ul class="dropdown-menu">
                                      <li class="dropdown-item"><a href="#">Action</a></li>
                                      <li class="dropdown-item"><a href="#">Another action</a></li>
                                      <li class="dropdown-item"><a href="#">Something else here</a></li>
                                      <li class="dropdown-divider"></li>
                                      <li class="dropdown-item"><a href="#">Separated link</a></li>
                                    </ul>
                                  </div> {% endcomment %}
                              {% endif %}
                          {% elif schedule.status == "WT" or  schedule.status == "RE" %}
                              {% if user.start_task %}
                                <a href=" {% url "start-task" schedule.id %}"
                                  style="width: 90px"
                                  class="d-inline  btn btn-block btn-outline-info mx-1"
                                  data-toggle="modal" data-target="#startModal{{schedule.id}}"
                                  data-toggle="tooltip" data-placement="bottom" 
                                  title ="Start Task"
                                  ><i class="fas fa-play"></i>
                                </a>
                              {% endif %}
                              {% if user.re_assign_engineer %}
                                  <a href=" {% url "assign-engineer" schedule.id %}"
                                  style="width: 90px"
                                  class="d-inline btn btn-block btn-outline-success"
                                  data-toggle="tooltip" data-placement="bottom" 
                                  title ="Change Engineer"
                                  ><i class="fas fa-edit"></i>
                                </a>
                              {% endif %}
                          {% elif schedule.status == "OP" %}
                            {% if user.end_task  %}
                              <a href="{% url "end-task" schedule.id %}"
                                style="width: 90px"
                                class="btn btn-block btn-danger"
                                > End </a>
                              {% endif %}
                          {% elif schedule.status == "SB" %}
                              {% comment %} {% if user.approve_task %}
                                <a href="{% url "task_approval" schedule.id %}"
                                  style="width: 90px"
                                  class="btn  btn-success mr-2"
                                  > Approve </a>
                                {% endif %}
                              {% if user.reject_task %}
                              <a href="{% url "reject_task" schedule.id %}"
                                style="width: 90px"
                                class="btn  btn-danger"
                                > Rejectd </a>
                              {% endif %}  {% endcomment %}
                              <a href="{% url "task_approval" schedule.id %}" style="width: 90px"
                                class="btn btn-block btn-outline-info"  data-toggle="tooltip" data-placement="bottom" 
                                  title ="Approve Task"><i class="fas fa-check-circle fa-beat-fade fa-xl" style="color: #63E6BE;"></i></a>
                      {% endif %}
                      <!--Start Task Moal-->
                  <div class="modal fade" id="startModal{{schedule.id}}">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">ATM:<b>{{schedule.terminal.terminal_name}}</b></h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-md-6">
                              <p>Bank Name: <b>{{schedule.terminal.bank_name}}</b></p>
                              <hr>
                            </div>
                            <div class="col-md-6">
                              <p>Bank Branch: <b>{{schedule.terminal.bank_branch}}</b></p>
                              <hr>
                            </div>
                            <div class="col-md-6">
                              <p>Terminal Name: <b>{{schedule.terminal.terminal_name}}</b></p>
                              <hr>
                            </div>
                            <div class="col-md-6">
                              <p>Engineer Name: <b>{{schedule.assign_to}}</b></p>
                              <hr>
                            </div>
                            <div class="col-md-6">
                              <p>Engineer's Phone Number: <b>{{schedule.assign_to.phone}}</b></p>
                              <hr>
                            </div>
                            <div class="col-md-6">
                              <p>Location: <b>{{schedule.terminal.location}}</b></p>
                              <hr>
                            </div>
                            <div class="col-md-6">
                              <p>City: <b>{{schedule.terminal.city}}</b></p>
                              <hr>
                            </div>
                          </div>
                        </div>
                        <span class="text-center text-danger">Once you Start a task <b>You can not re-assign engineer: <a href=" {% url "assign-engineer" schedule.id %}"
                                style="width: 90px"
                                class=""
                                title ="Change Engineer"
                                ><span class ="text-success">Re-Assign</span></a> </b></span>
                        <div class="modal-footer justify-content-between">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <a type="button" class="btn btn-info" href="{% url "start-task" schedule.id %}" >Start</a>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->
                      </td>
                      </tr>
                  {% endif %}
                {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <th>#</th>
                    <th>TID</th>
                    <th>BANK NAME</th>
                    <th>TERMINAL NAME</th>
                    <th>DISTRICT</th>
                    <th>END DATE</th>
                    <th>ASSIGNED TO</th>
                    <th>REMAINING DAY</th>
                    <th>STATUS</th>
                    <th>ACTIONS</th>
                  </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock content %}