{% extends "base.html" %} {% load static %} {% block content %}
<div class="content-wrapper">
  <!-- Content Header (Page header)
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <p class='text-center'>{% if selected %}List Of <span class="text-success">{{selected}}</span>{% endif %}</p>
        </div>
      </div>
    </div>
  </section>-->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card border-top border-info">
            <div class="card-header">
      <form action="" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-8">
                      <div class="form-group">
                        <label>Filter Users Form the Dropdown</label>
                        <select class="form-control" name ="options">
                          <option value ="0"selected >-----Select Users-----</option>
                          <option value ="All users" >All Users</option>
                          <option value ="Engineers" >Engineers</option>
                          <option value ="Active Users" >Active Users</option>
                          <option value="InActive Users" >InActive Users</option>
                          <option value="Super Users">Super Users</option>
                          <option value ="Bank Users" >Bank Users</option>
                        </select>
                      </div>
                    </div>
                </div>
                <div class="form-group col-sm-12" id="data_5">
                  <label class="font-normalll">Select Time Range</label>
                  <div class="input-group date col-sm-8" id="datepicker">
                    <span class="input-group-text">
                    From</span>
                    <input type="date" class="form-control" name="from_date" required>
                    <span class="input-group-text">To</span>
                    <input type="date" class="form-control" name="to_date" required>
                  </div>
                </div>
                <button type="submit" class="btn btn-info">Generate</button>
              </form>
              <div class="col-sm-12 text-center"><b></b></div> 
            </div>
            
            <!-- /.card-header -->
          {% if selected %}
          <div class="card-body">
              <table id="example1" class="table table-bordered table-striped table-hover">
                <thead>
                  <tr>
                  <th>#</th>
                      <th>FIRST NAME</th>
                      <th>LAST NAME</th>
                      <th>GENDER</th>
                      <th>PHONE NUMBER</th>
                      <th>EMAIL</th>
                      <th>ADDRESS</th>
                      <th>ROLE</th>
                      <th>STATUS</th>
                      
                  </tr>
                </thead>
                <tbody>
                  {%for user in users %}
                  <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{user.first_name}}</td>
                      <td>{{user.last_name}}</td>
                      <td>{{user.gender}}</td>
                      <td>{{user.phone}}</td>
                      <td>{{user.email}}</td>
                      <td>{{user.address}} </td>
                      <!--TODO: Add Profile Picture-->
                      <td>{% if user.user_type == "MA" %}
                              <p>Manager</p> 
                              {% elif user.user_type == "EN" %}
                              <p>Engineer</p> 
                              {% elif user.user_type == "TL" %}
                              <p>Team Leader</p> 
                              {% elif user.user_type == "BA" %}
                              <p>Bank User</p> 
                              {% endif %}
                      </td>
                      <td>{% if user.is_active %}
                        <span class="badge badge-success" style="width: 90px"
                          ><b>Active</b></span
                        >
                       {% else %}
                        <span class="badge badge-danger" style="width: 90px"
                          ><b>InActive</b></span
                        >
                        {% endif %}</td>
                  </tr>
                  {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                      <th>NO</th>
                      <th>FIRST NAME</th>
                      <th>LAST NAME</th>
                      <th>GENDER</th>
                      <th>PHONE NUMBER</th>
                      <th>EMAIL</th>
                      <th>ADDRESS</th>
                      <th>ROLE</th>
                      <th>STATUS</th>
                      
                  </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
            {% else %}
            <div class="card-body">
              <hr>
              <p class= "text-center">Data Will be shown Here!!</p>
            </div>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}


