{% extends "base.html" %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
{% if user_type == "MA" or user.view_dashboard%}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0"><span class="text-success">{{user.first_name}}</span>, Welecome To Moti PM Portal</h1>
          </div><!-- /.col -->
        
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{numOfUsers }}</h3>

                <p>System Users</p>
              </div>
              <div class="icon">
                <i class="fa fa-users" aria-hidden="true"></i>
              </div>
              <a href="{% url "all-engineers" %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{numOfBanks}}</h3>

                <p>Number of Banks</p>
              </div>
              <div class="icon">
              <i class="fa fa-university" aria-hidden="true"></i>
              </div>
              <a href="{% url "banks-page" %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{numberofTerminals}}</h3>

                <p>Terminals</p>
              </div>
              <div class="icon">
                <i class="fa fa-cube" aria-hidden="true"></i>
              </div>
              <a href="{% url "all-terminals" %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{pendingTerminals}}</h3>
                <p>Scheduled ATMs</p>
              </div>
              <div class="icon">
                <i class="far fa-calendar-alt" aria-hidden="true"></i>
              </div>
              <a href="{% url "schedules" %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        
        <!-- /.row -->



          </section>
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <!-- PIE CHART --> 
            {% if allSchedule %}
            <div class="card card-info card-outline">
              <div class="card-header">
                <h3 class="card-title">Schedule Report</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
               
                <canvas id="pieChart" style="min-height: 300px; height: 300px; max-height: 300px; max-width: 100%;"></canvas>
               
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          {% endif %}
          </div>
          <!-- /.col (LEFT) -->
        <div class="col-md-6">
              <!-- BAR CHART -->
            <!-- Bar chart -->
            {% if allSchedule %}
            <div class="card card-info card-outline">
              <div class="card-header">
                <h3 class="card-title">
                  TOTAL :{{allSchedule}}
                </h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div id="bar-chart" style="height: 300px;"></div>
              </div>
              <!-- /.card-body-->
            </div>
            {% endif %}
            <!-- /.card -->

            <!-- BAR CHART -->
          </div>
        </div>
        {% if schedules %}
        <div class="card border-top">
        <div class="card-header">
          <h5 class="text-center">List High Priority Tasks</h5>
        </div>
        <table id="example12" class="table table-hover">
                <thead>
                  <tr>
                    <th>TID</th>
                    <th>BANK NAME</th>
                    <th>TERMINAL NAME</th>
                    <th>END DATE</th>
                    <th>ASSIGNED TO</th>
                    <th>STATUS</th>
                    <th>PRIORITY<th>
                  </tr>
                </thead>
                <tbody>
                  {% for schedule  in schedules %}
                  {% if schedule.terminal.bank_name.is_active and schedule.status != "AP" %}
                <tr data-widget="expandable-table" aria-expanded="false">
                    <td>{{schedule.terminal.tid}}</td>
                    <td>{{schedule.terminal.bank_name}}</td>
                    <td>{{schedule.terminal.terminal_name}}</td>
                    <td>{{schedule.end_date|date:'Y-m-d'}}</td>
                    <td>{% if schedule.assign_to %}
                        {{schedule.assign_to.first_name}} {{schedule.assign_to.last_name}}
                        {% else %}
                        <b>Not Assigned Yet</b>
                      {% endif %}
                    </td>
                    <td>
                      {% if schedule.status == "PE" %}
                          <span class="badge " style="width: 90px; background-color: #cf5438 ;"
                          ><b>Pending</b></span>
                          {% elif schedule.status == "WT" %}
                          <span class="badge " style="width: 90px; background-color: #3498db ;"
                          ><b>Waiting</b></span>
                        {% elif schedule.status == "OP" %}
                        <span class="badge " style="width: 90px;background-color: #FFD700 ;"
                          ><b>Onprogress</b></span>
                        
                          {% elif schedule.status == "SB" %}
                          <span class="badge " style="width: 90px; background-color: #81e7ac ;"
                          >
                          <b>Submitted</b></span>
                          {% elif schedule.status == "AP" %}
                          <span class="badge " style="width: 90px; background-color: #00a65a ;"
                          >
                          <b>Approved</b></span>
                          {% elif schedule.status == "RE" %}
                          <span class="badge" style="width: 90px; background-color: #FF0000 ;"
                          >
                          <b>Rejectd</b></span>
                      {% endif %}
                    </td>
                    <td>
                      {% if schedule.priority == "H" %}
                      <span class="badge" style="width: 90px; background-color: #FF0000 ;"
                          >
                          <b>High</b></span>
                      {% endif %}
                    </td>
                    </tr>
                  {% endif %}
                {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <th>TID</th>
                    <th>BANK NAME</th>
                    <th>TERMINAL NAME</th>
                    <th>END DATE</th>
                    <th>ASSIGNED TO</th>
                    <th>STATUS</th>
                    <th>PRIORITY<th>
                  </tr>
                </tfoot>
              </table>
            </div>
          {% endif %}
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    
      </div>
    
    
  </div>
  {% else %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0"><span class="text-success">{{user.first_name}}</span>, Welecome To Moti PM Portal</h1>
          </div><!-- /.col -->
        
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
  </div>

{% endif %}
{% else %}
<p>Please Try again!!</p>
<a href="{% url "login" %}">Login</a>
{% endif %}

{% endblock content %}