{% extends "base.html" %} 
{% load static %} 

{% block content %}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Add User</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="card card-default border-top border-info">
                <div class="card-header">
                    {% if form.errors %}
                    <div class="container alert alert-danger alert-dismissible" role="alert">
                        <strong>Error!</strong> Please correct the following errors:
                        <ul>
                            {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                            <li> {{field}}{{ error }}</li>
                            {% endfor %}
                            {% endfor %}
                        </ul>

                        <button type="button" class="close text-white" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% else %}
                    <h3 class="card-title">Change Password</h3>
                    {% endif %}
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-2 col-sm-2">
                            <div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link active" id="vert-tabs-home-tab" data-toggle="pill" href="#vert-tabs-home" role="tab" aria-controls="vert-tabs-home" aria-selected="true">Change Password</a>
                            </div>
                        </div>
                        <div class="col-7 col-sm-9">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <div class="tab-content" id="vert-tabs-tabContent">
                                    <div class="tab-pane text-left fade show active" id="vert-tabs-home" role="tabpanel" aria-labelledby="vert-tabs-home-tab">
                                         <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="{{ form.old_password.id_for_label }}">Old Password</label>
                                                    {{form.old_password}}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="{{ form.new_password1.id_for_label }}">New Password</label>
                                                    {{form.new_password1}}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="{{ form.new_password2.id_for_label }}">Confirm New Password</label>
                                                    {{form.new_password2}}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <ul class ="text-info">
                                                    <li>Password must contain at least 8 characters.</li>
                                                    <li>Password must contain numbers, upper and lower case letteres and special characters</li>
                                                    </ul>

                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Update</button>
                                    <a href="{% url 'all-engineers' %}" class="btn btn-secondary">Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}
