{% extends "base.html" %} {% load static %} {% block content %}
<div class="content-wrapper">
  <section class="content">
    <div class="card">
      <div class="row">
        <div class="col-md-12 mt-4">
          <ul class="nav nav-tabs" id="quarterTabs" role="tablist">
            {% for quarter, data in quarter_data.items %}
            <li class="nav-item">
              <a
                class="nav-link {% if forloop.first %}active{% endif %}"
                id="quarter{{ quarter }}-tab"
                data-toggle="tab"
                href="#quarter{{ quarter }}"
                role="tab"
                aria-controls="quarter{{ quarter }}"
                aria-selected="true"
                >Quarter {{ quarter }}</a
              >
            </li>
            {% endfor %}
          </ul>
          <div class="tab-content" id="quarterTabsContent">
            {% for quarter, data in quarter_data.items %}
            <div
              class="tab-pane fade {% if forloop.first %}show active{% endif %}"
              id="quarter{{ quarter }}"
              role="tabpanel"
              aria-labelledby="quarter{{ quarter }}-tab"
            >
              <div class="card-body">
                <div>
                  <canvas id="quarter{{ quarter }}Chart" width="400"></canvas>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    {% for quarter, data in quarter_data.items %}
    var ctx{{ quarter }} = document.getElementById('quarter{{ quarter }}Chart').getContext('2d');
    var myChart{{ quarter }} = new Chart(ctx{{ quarter }}, {
      type: 'bar',
      data: {
        labels: [{% for bank in data.banks %}"{{ bank.bank_name }}", {% endfor %}],
        datasets: [{
          label: "Quarter {{ quarter }} Compeleted",
          data: {{ data.bank_approval_percentages|safe }},
          backgroundColor: 'rgba(54, 162, 235, 0.2)',
          borderColor: 'rgba(54, 162, 235, 1)',
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              min: 0,
              max: 100,
              stepSize: 10,
              callback: function(value) {
                return value + '%'; // Add percentage symbol
              }
            },
            afterBuildTicks: function(scale) {
              scale.ticks.push(70); // Add the 70% mark
            }
          }]
        },
        annotation: {
          drawTime: 'afterDatasetsDraw',
          annotations: [{
            type: 'line',
            mode: 'horizontal',
            scaleID: 'y-axis-0',
            value: 70,
            color: 'red',
            borderColor: 'red',
            borderWidth: 10,
            label: {
              content: 'Target 70%',
              enabled: true,
              position: 'right'
            }
          }]
        }
      }
    });
    {% endfor %}
  });
</script>

{% endblock %}
