{% extends "base.html" %}
{% block content %}
<div class="content-wrapper">
  <section class="content-header">
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="card card-default border-top border-info">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">
              <h3 class="card-title">Bank Name: <span class="h5 text-info font-weight-bold">{{schedule.terminal.bank_name}} </span></h3>
            </div>
            <div class="col-md-6">
            <h3 class="card-title">Terminal Name: <span class="h5 text-info font-weight-bold">{{schedule.terminal.terminal_name}} </span></h3>
            </div>
            <div class="col-md-6">
            <h3 class="card-title">Location:  <span class="h5 text-info font-weight-bold">{{schedule.terminal.location}},{{schedule.terminal.city}} </span></h3>
            </div>
            <div class="col-md-6">
            <h3 class="card-title">Terminal ID:  <span class="h5 text-info font-weight-bold">{{schedule.terminal.tid}}</span></h3>
            </div>
            <div class="col-md-6">
            <h3 class="card-title">Done By:  <span class="h5 text-info font-weight-bold">{{schedule.assign_to.first_name}} {{schedule.assign_to.last_name}}</span></h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form action="" method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <div class="row">
              <div class="col-md-12">
                {% if schedule.checklist_photo %}
                <a type="button" class="btn btn-default pop text-center" data-toggle="modal" data-target="#imagemodal">
                  <img src="{{schedule.checklist_photo.url}}" alt="Check List Photo" style="width: 350px; ">
                </a>
                {% else %}
                <h1 class="text-danger">Checklist Not Uploaded</h1>
                {% endif %}
                <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                <div class="modal-dialog modal-lg" >
                  <div class="modal-content" >              
                    <div class="modal-body" >
                      <button  type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                      <img src="{{schedule.checklist_photo.url}}" class="imagepreview" style="width: 100%;"  >
                    </div>
                  </div>
                </div>
              </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="{{ form.approval_comment.id_for_label }}">Commnet</label>
                    {{form.approval_comment}}
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-danger">Reject</button>
            <a href="{% url 'detail_schedules_list' all_schedule_id %}" class="btn btn-secondary">Cancel</a>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock content %}