{% extends "base.html" %} {% load static %} {% block content %}


<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>List of Terminals</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url "home" %}">Home</a></li>
            <li class="breadcrumb-item active">Terminals</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card border-top border-info">
            <div class="card-header">
              <div class="card-title">
             <form action="" method="GET">
                    <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="all-terminals" name ="terminals">
                    <label class="form-check-label" for="all-terminals">All Terminals</label>
                  </div>
                  <button type="submit" class="btn btn-primary">Generate</button>
            </form>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>TID</th>
                    <th>BANK Name</th>
                    <th>BANK DISTRICT</th>
                    <th>BANK BRANCH</th>
                    <th>MOTI DISTRICT</th>
                    <th>TERMINAL NAME</th>
                    <th>SERIAL NO</th>
                    <th>MODEL</th>
                    <th>DISSPENSER TYPE</th>
                    <th>CITY</th>
                    <th>LOCATION</th>
                  </tr>
                </thead>
                <tbody>
                  {% for terminal in terminals %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{terminal.tid}}</td>
                    <td>{{terminal.bank_name}}</td>
                     <td>{{terminal.bank_district}}</td>
                    <td>{{terminal.bank_branch}}</td>
                    <td>{{terminal.moti_district}}</td>
                    <td>{{terminal.terminal_name}}</td>
                    <td>{{terminal.serial_number}}</td>
                    <td>{{terminal.model}}</td>
                    <td>{{terminal.disspenser_type}}</td>
                    <td>{{terminal.city}}</td>
                    <td>{{terminal.location}}</td>
                    <td></td>
                  </tr>
                  {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <th>#</th>
                    <th>TID</th>
                    <th>BANK Name</th>
                    <th>BANK DISTRICT</th>
                    <th>BANK BRANCH</th>
                    <th>MOTI DISTRICT</th>
                    <th>TERMINAL NAME</th>
                    <th>SERIAL NO</th>
                    <th>MODEL</th>
                    <th>DISSPENSER TYPE</th>
                    <th>CITY</th>
                    <th>LOCATION</th>
                  </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
        <div> 
            <!-- /.card -->
        </div>
      </div>
    </div>
  </section>
</div>


{% endblock content %}



