{% extends "base.html" %} {% load static %} {% block content %} 

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>List of Terminals</h1>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card border-top border-info">
            <div class="card-header">
              <h3 class="card-title">List of Terminals To be Schedule</h3>
              <a href="{% url 'create_schedule' %}" class="btn btn-success btn-lg float-right"
                        > <i class="fas fa-plus"></i>
                    Make Schedule
                </a>
            </div>
            <div class="card-body">
              <table id="example2" class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>SCHEDULE NAME</th>
                    <th>CREATED BY</th>
                    <th>START DATE</th>
                    <th>END DATE</th>
                    <th>REMAINING DAY</th>
                    <th>DESCRIPTION</th>
                  </tr>
                </thead>
                <tbody>
                  {% for schedule in schedules %}
                  <tr>
                    <td><a href="#"> {{forloop.counter}} </a></td>
                    <td><a href="#"> {{schedule.schedule_name}} </a></td>
                    <td><a href="#"> {{schedule.created_by}} </a></td>
                    <td><a href="#"> {{schedule.start_date}}</a></td>
                    <td><a href="#"> {{schedule.end_date}} </a></td>
                    <td><a href="#"> {% if schedule.remaining_day < 3%}
                        {% if schedule.remaining_day < 0 %}
                        <span class="badge badge-danger" style="width: 90px"><b>OVER</b></span>
                        {% else %}
                        <span class="badge badge-danger" style="width: 90px"><b>{{schedule.remaining_day}} Days</b></span>
                        {% endif %}
                      {% else %}
                        {{schedule.remaining_day}} Days
                      {% endif %}</a></td>
                    <td><a href="#"> {{schedule.description}} </a></td>
                  </tr>
                  {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <th>#</th>
                    <th>SCHEDULE NAME</th>
                    <th>CREATED BY</th>
                    <th>START DATE</th>
                    <th>END DATE</th>
                    <th>REMAINING DAY</th>
                    <th>DESCRIPTION</th>
                  </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock content %}
