q   {% extends "base.html" %} {% load static %} {% block content %} 

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
        <h1 class='text-center'>{% if selected %}List Of <span class="text-success">{{selected}}</span>{% endif %}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url "home" %}">Home</a></li>
            <li class="breadcrumb-item active">Schedule</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card border-top border-success">
            <div class="card-header">
              <form action="" method="POST">
                {% csrf_token %}
                <div class="row">
                  <div class="col-12"> <h3 class="card-title py-4">FILTER Schedules</h3></div>
                    <div class="col-sm-8">
                      <div class="form-group">
                        <label>Filter Schedules Form the Dropdown</label>
                        <select class="form-control" name ="options">
                          <option value ="0"selected >-----Select-----</option>
                          <option value ="All Schedule" >All Schedules</option>
                          <option value ="Pending Schedule" >Pending Schedules</option>
                          <option value ="Waiting Task" >Waiting Task</option>  
                          <option value ="OnProgress Task" >OnProgress Task</option>  
                          <option value ="Completed Task" >Completed Task</option>  
                        </select>
                      </div>
                    </div>
                <div class="form-group col-sm-12" id="data_5">
                  <label class="font-normalll">Select Time Range</label>
                  <div class="input-group date col-sm-8" id="datepicker">
                    <span class="input-group-text">
                      From</span>
                    <input type="date" class="form-control" name="txt_startdate">
                    <span class="input-group-text">To</span>
                    <input type="date" class="form-control" name="txt_enddate">
                  </div>
                </div>
                <button type="submit" class="btn btn-info">Generate</button>
               </form>
            </div>
            <!-- /.card-header -->
            {% if selected %}
            <div class="card-body">
              <table id = "example1" class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>TID</th>
                    <th>BANK NAME</th>
                    <th>TERMINAL NAME</th>
                    <th>END DATE</th>
                    <th>ASSIGNED TO</th>
                    <th>STATUS</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for schedule  in schedules %}
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{schedule.terminal.tid}}</td>
                      <td>{{schedule.terminal.bank_name}}</td>
                      <td>{{schedule.terminal.terminal_name}}</td>
                      <td>{{schedule.end_date|date:'Y-m-d'}}</td>
                      <td>{{schedule.assign_to}}</td>
                      <td>{% if schedule.status == "PE" %}
                            <p>Pending</p>
                          {% elif schedule.status == "WT" %}
                              <p>Waiting</p>
                          {% elif schedule.status == "OP" %}
                            <p>OnProgress</p>
                          {% elif schedule.status == "CO" %}
                              <p>Completed</p>
                      {% endif %}</td>
                    </tr>
                
                    
                  {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <th>#</th>
                    <th>TID</th>
                    <th>BANK NAME</th>
                    <th>TERMINAL NAME</th>
                    <!--<th>START DATE</th>-->
                    <th>END DATE</th>
                    <th>ASSIGNED TO</th>
                    <th>STATUS</th>
                  </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
            {% else %}
            <div class="card-body">
              <hr>
              <p class= "text-center">Data Will be shown Here!!</p>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock content %}
