q   {% extends "base.html" %} {% load static %} {% block content %} 

<div class="content-wrapper">
  <!-- Content Header (Page header) 
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
        <p class='text-center'>{% if selected %}List Of <span class="text-success">{{selected}}</span>{% endif %}</p>
        </div>
      </div>
    </div>
  </section>-->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card border-top border-info">
            <div class="card-header"> List of Schedule</div>
            <!-- /.card-header -->
            
            <div class="card-body">
              <table id = "example1" class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>TID</th>
                    <th>BANK NAME</th>
                    <th>TERMINAL NAME</th>
                    <th>END DATE</th>
                    <th>ASSIGNED TO</th>
                    <th>STATUS</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for schedule  in schedules %}
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{schedule.terminal.tid}}</td>
                      <td>{{schedule.terminal.bank_name}}</td>
                      <td>{{schedule.terminal.terminal_name}}</td>
                      <td>{{schedule.end_date|date:'Y-m-d'}}</td>
                      <td>{{schedule.assign_to}}</td>
                      <td>{% if schedule.status == "PE" %}
                            <p class="badge badge-danger" style="width:90px;">Pending</p>
                          {% elif schedule.status == "WT" %}
                            <p class="badge badge-info" style="width:90px;">Waiting</p>
                          {% elif schedule.status == "OP" %}
                            <p class="badge badge-warning" style="width:90px;">OnProgress</p>
                          {% elif schedule.status == "CO" %}
                            <p class= "badge badge-success" style="width:90px;">Completed</p>
                      {% endif %}</td>
                    </tr>
                
                    
                  {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <th>#</th>
                    <th>TID</th>
                    <th>BANK NAME</th>
                    <th>TERMINAL NAME</th>
                    <!--<th>START DATE</th>-->
                    <th>END DATE</th>
                    <th>ASSIGNED TO</th>
                    <th>STATUS</th>
                  </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
            
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock content %}
