{% extends "base.html" %} {% load static %} {% block content %} 

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>List of Schedules</h1>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card border-top border-info">
            <div class="card-header">
              <h3 class="card-title">List of Terminals To be Schedule</h3>
              {% if user.make_schedule %}
                  <a href="{% url 'create_schedule' %}" class="btn btn-success btn-md float-right"
                            > <i class="fas fa-plus"></i>
                        Make Schedule
                    </a>
              {% endif %}
            </div>
            {% if schedules %}
            <div class="card-body">
              <table id="example2" class="table table-bordered table-striped table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>SCHEDULE NAME</th>
                    <th>SCHEDULED BY</th>
                    <th>DESCRIPTION</th>
                    <th>COUNT</th>
                    <th>GO To DATAILS</th>
                  </tr>
                </thead>
                <tbody>
                {% for schedule  in schedules %}
                  <tr>
                    <td> {{forloop.counter}} </td>
                    <td> {{schedule.schedul_name}} </td>
                    <td> {{schedule.scheduled_by}}</td>
                    <td> {{schedule.description}}</td>
                    <td>{{schedule.all_schedules.count}}</td>
                    <td>{% if  schedule.all_schedules.count%}
                      <a href="{% url "detail_schedules_list" schedule.id %}" class='btn-lg' title="Go to Details"><i class="fas fa-arrow-circle-right"></i></a>
                      {% endif %}</td>
                  </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                        <th>#</th>
                        <th>SCHEDULE NAME</th>
                        <th>SCHEDULED BY</th>
                        <th>DESCRIPTION</th>
                        <th>COUNT</th>
                        <th>GO To DATAILS</th>
                  </tr>
                </tfoot>
              </table>
            </div>
            {% else %}
             <div class="card-body">
              <p class='text-center'>No Schedules Yet. List of Schedules Will display Here!</p>
            </div>
            {% endif %}
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock content %}
