{% extends "base.html" %} {% load static %} {% block content %}

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>List of Terminals</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url "home" %}">Home</a></li>
            <li class="breadcrumb-item active">Terminals</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <form action="" method="POST">
                {% csrf_token %}
                <div class="row">
                  <div class="col-12"> <h3 class="card-title">FILTER TERMINALS BY</h3></div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox">
                        <label class="form-check-label">All Users</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox">
                        <label class="form-check-label">Engineers</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox">
                        <label class="form-check-label">Bank Users</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <!-- radio -->
                    <div class="form-group">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox">
                        <label class="form-check-label">Active Users</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox">
                        <label class="form-check-label">InActive Users</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox">
                        <label class="form-check-label">Super Users</label>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="form-group col-sm-12" id="data_5">
                  <label class="font-normalll">Select Time Range</label>
                  <div class="input-group date col-sm-8" id="datepicker">
                    <span class="input-group-text">
                      <i class="fa fa-calendar"></i></span>
                    <input type="date" class="form-control" name="txt_startdate">
                    <span class="input-group-text">TO</span>
                    <input type="date" class="form-control" name="txt_enddate">
                  </div>
                </div>
                <button type="submit" class="btn btn-info">Generate</button>
               </form>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>TID</th>
                    <th>BANK Name</th>
                    <th>BANK DISTRICT</th>
                    <th>BANK BRANCH</th>
                    <th>MOTI DISTRICT</th>
                    <th>TERMINAL NAME</th>
                    <th>SERIAL NO</th>
                    <th>MODEl</th>
                    <th>DISSPENSER TYPE</th>
                    <th>CITY</th>
                    <th>LOCATION</th>
                  </tr>
                </thead>
                <tbody>
                  {% for terminal in terminals %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{terminal.tid}}</td>
                    <td>{{terminal.bank_name}}</td>
                    <td>{{terminal.bank_district}}</td>
                    <td>{{terminal.bank_branch}}</td>
                    <td>{% if terminal.moti_district == "NR" %}
                      <p>North</p>
                      {% elif terminal.moti_district == "SR" %}
                      <p>South</p>
                      {% elif terminal.moti_district == "ER" %}
                      <p>East</p>
                      {% elif terminal.moti_district == "WR" %}
                      <p>West</p>
                      {% elif terminal.moti_district == "CR" %}
                      <p>Centeral</p>
                      {% endif %}</td>
                    <td>{{terminal.terminal_name}}</td>
                    <td>{{terminal.serial_number}}</td>
                    <td>{{terminal.model}}</td>
                    <td>{{terminal.disspenser_type}}</td>
                    <td>{{terminal.city}}</td>
                    <td>{{terminal.location}}</td>
              
                  </tr>
                  {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                    <th>#</th>
                    <th>TID</th>
                    <th>BANK Name</th>
                    <th>BANK DISTRICT</th>
                    <th>BANK BRANCH</th>
                    <th>MOTI DISTRICT</th>
                    <th>TERMINAL NAME</th>
                    <th>SERIAL NO</th>
                    <th>MODEl</th>
                    <th>DISSPENSER TYPE</th>
                    <th>CITY</th>
                    <th>LOCATION</th>
                  </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}