{% extends "base.html" %} {% load static %} {% block content %}

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>List of Terminals</h1>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card border-top border-info">
            <div class="card-header">
              <h3 class="card-title">TERMINALS</h3>
              {% if user.add_terminals %}
                <a href="{% url 'add-terminal' %}" class="btn btn-success btn-md float-right"> <i class="fas fa-plus"></i>
                  Add Terminal
                </a>
              {% endif %}
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id ="example2" class="table table-bordered table-striped table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>TID</th>
                    <th>BANK Name</th>
                    <th>TERMINAL NAME</th>
                    <th>SERIAL NO</th>
                    <th>LOCATION</th>
                    <th>ACTIONS</th>
                  </tr>
                </thead>
                <tbody>
                  {% for terminal in terminals %}
                  {% if terminal.bank_name.is_active %}
                    <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{terminal.tid}}</td>
                    <td>{{terminal.bank_name}}</td>
                    <td>{{terminal.terminal_name}}</td>
                    <td>{{terminal.serial_number}}</td>
                    <td>{{terminal.location}}</td>
                    <td>
                      {% if user.edit_terminal %}
                      <a href="{% url "update-terminal" terminal.id %}" style="width: 80px"
                        class="d-inline  btn btn-block btn-outline-success" title="Edit Information"><i
                          class="nav-icon fas fa-edit"></i>
                        </a>
                        {% endif %}

                      <a style="width: 80px" href="{% url "view_terminal" terminal.id %}"
                        class="d-inline btn btn-block btn-outline-primary" data-toggle="modal"
                        data-target="#myModal{{terminal.id}}" title="View Details"> <i class="fas fa-eye"></i>
                      </a>

                      <!--Modal -->
                      <div class="modal fade" id="myModal{{terminal.id}}">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Terminal Information</h4>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <div class="row">

                                <div class="col-md-6">
                                  <p>Bank Name:<strong>{{terminal.bank_name}}</strong> </p>
                                  <hr>
                                </div>
                                <div class="col-md-6">
                                  <p>Bank District:<strong>{{terminal.bank_district}}</strong> </p>
                                  <hr>
                                </div>
                                <div class="col-md-6">
                                  <p>Bank Branch:<strong>{{terminal.bank_branch}}</strong> </p>
                                  <hr>
                                </div>
                                <div class="col-md-6">
                                  <p>Moti District:<strong>{% if terminal.moti_district == "NR" %}
                                      North
                                      {% elif terminal.moti_district == "SR" %}
                                      South
                                      {% elif terminal.moti_district == "ER" %}
                                      East
                                      {% elif terminal.moti_district == "WR" %}
                                      West
                                      {% elif terminal.moti_district == "CR" %}
                                      Centeral
                                      {% endif %}</strong> </p>
                                  <hr>
                                </div>
                                <div class="col-md-6">
                                  <p>Terminal ID:<strong>{{terminal.tid}}</strong> </p>
                                  <hr>
                                </div>
                                <div class="col-md-6">
                                  <p>Terminal Name:<strong>{{terminal.terminal_name}}</strong> </p>
                                  <hr>
                                </div>
                                <div class="col-md-6">
                                  <p>Serial Number:<strong>{{terminal.serial_number}}</strong> </p>
                                  <hr>
                                </div>
                                <div class="col-md-6">
                                  <p>Model:<strong>{{terminal.model}}</strong> </p>
                                  <hr>
                                </div>
                                <div class="col-md-6">
                                  <p>Disspenser Type:<strong>{{terminal.disspenser_type}}</strong> </p>
                                  <hr>
                                </div>
                                <div class="col-md-6">
                                  <p>City:<strong>{{terminal.city}}</strong> </p>
                                  <hr>
                                </div>
                                <div class="col-md-6">
                                  <p>Location:<strong>{{terminal.location}}</strong> </p>
                                  <hr>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer justify-content-between">
                              <button type="button" class="btn btn-default m-4" data-dismiss="modal">Close</button>

                            </div>
                          </div>
                          <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                      </div>
                      <!-- /.modal -->

                    </td>
                  </tr>
        
                  {% endif %}
                  {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <th>#</th>
                    <th>TID</th>
                    <th>BANK Name</th>
                    <th>TERMINAL NAME</th>
                    <th>SERIAL NO</th>
                    <th>LOCATION</th>
                    <th>ACTIONS</th>
                  </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}