
{% extends "base.html" %} {% load static %} {% block content %}
<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Edit Moti District </h1>
        </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="card card-default border-top border-info">
        <div class="card-header">
          {% if form.errors %}
          <div class="container alert alert-danger alert-dismissible" role="alert">
            <strong>Error!</strong> Please correct the following errors:
                  <ul>
                  {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                      <li> {{ error }}</li>
                    {% endfor %}
                  {% endfor %}
                </ul>
            <button type="button" class="close text-white" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% else %} 
          <h3 class="card-title">Edit District</h3>
          {% endif %}
        </div>
        <div class="card-body">
          <form action="#" method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="{{ form.district_name.id_for_label }}">District Name</label>
                    {{form.district_name}}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="{{ form.region.id_for_label }}">Region</label>
                    {{form.region}}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="{{ form.location.id_for_label }}">Location</label>
                    {{form.location}}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="{{ form.district_key.id_for_label }}">District Key</label>
                    {{form.district_key}}
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary 
            {% if success %} 
            swalDefaultSuccess 
            {% endif %}">
            Update</button>
            <a href="{% url 'districts-list' %}" class="btn btn-secondary">Cancel</a>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}
