{% extends "base.html" %} {% load static %} {% block content %}


<div class="row justify-content-center mt-5">
  <div class="col-6">
    <div class="card bg-light mb-3">
      <div class="card-header">
        <i class="zmdi zmdi-account-box"></i> Upadat Terminals Information     </div>
      <div class="card-body">
        <form action="" method="POST">
          {% csrf_token %} {{ form.as_p }}
          <br />
          <button type="submit" class="btn btn-primary">Update</button>
          <a href="{% url 'banks-page' %}" class="btn btn-secondary">Cancel</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}