{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css_files %} {% endblock css_files %}
    {% comment %} load global css You must aware of django to look up the global static file {% endcomment %}
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <title>
    {% block pate_title %}
       Moti Engineering 
    {% endblock pate_title %}
        </title>
            
</head>
<body>
    
    {% block content %}

        
    {% endblock content %}
        
    
</body>
</html>