h1{
    color: rgb(133, 221, 133);
}

ul{
    list-style: none;
    margin: 2rem auto;
    width: 100%;
    max-width: 98%;
    box-shadow: 0 2px 8px rgba(0, 0, 0,0.26);
    padding: 1px;
    border-radius: 12px;
   
}
li{
    margin: 1rem 0;
    text-align: left;
    font-size: 2rem;
   
}
a{
     color: white;
     text-decoration: none;
     font-size: 2rem;
}